<div class="generic-container">
  <div class="well lead">User Registration Form</div>
  <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()" class="form-horizontal" >

    <div class="row">
      <div class="form-group col-md-12">
        <label class="col-md-3 control-lable" for="firstName">First Name*</label>
        <div class="col-md-7">
          <input formControlName="name"  id="firstName" class="form-control input-sm"/>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-12">
        <label class="col-md-3 control-lable" for="lastName">Last Name*</label>
        <div class="col-md-7">
          <input formControlName="surname" id="lastName" class="form-control input-sm" />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-12">
        <label class="col-md-3 control-lable" for="birthDate">BirthDate*</label>
        <div class="col-md-7">
          <input type="date" formControlName="birthDate" id="birthDate" class="form-control input-sm" />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-12">
        <label class="col-md-3 control-lable" for="country">Country</label>
        <div class="col-md-7">
          <input formControlName="country" id="country" class="form-control input-sm" />
        </div>
      </div>
    </div>

    <input type="submit" [disabled]="employeeForm.pristine" class="btn btn-primary btn-sm"/> or
    <a routerLink="">Cancel</a>
  </form>
</div>
